header {
  display: flex;
  justify-content: space-around;
  background-color: black;
}

a {
  color: white;
  font-size: 20px;
  text-decoration: none;
}

.WhTsunamiImg {
  height: 60px;
  margin-left: 10px;
}

.WhMain {
  margin: 5vh 0vw 0vw 10vw;
  width: 80vw;
  border: 2px solid black;
  background-color: white;
}

.SkMain {
  margin: 5vh 0vw 0vw 10vw;
  width: 80vw;
  height: 120px;
  border: 2px solid black;
  background-color: white;
}

.Whh1 {
  background-image: url("./Sashimi.jpg");
  height: 170px;
  background-repeat: no-repeat;
}

.WhSnowBirdImg {
  height: 60px;
  width: 60px;
  margin-left: 10px;
}

.WhTsunami, .WhSnowBird {
  display: flex;
}

.WhHover, .AbHover {
  width: 100px;
  margin: 10px;
}

.CanHover {
  color: lightskyblue;
  width: 150px;
  margin: 10px;
}

.SkImg {
  height: 80px;
  margin: 20px;
}

.SAMP{
  height: 50vh;
  position: fixed;
  top: 20vh;
  left: 25vw;
}

.Ass {
  height: 50vh;
  position: fixed;
  top: 20vh;
  left: 35vw;
}

.Hovers {
  display: flex;
  flex-direction: column;
}

.Me {
  width: 350px;

}

.AbMain {
  position: absolute;
  top: 10vh;
  left: 35vw;
  width: 350px;
  border: 2px solid black;
  background-color: white;
}

.AbHover {
  color: white;
}

.AbInfo {
  margin: 10px;
}